@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-600: #2563eb;
  --color-gray-50: #f9fafb;
  --color-gray-200: #e5e7eb;
  --color-gray-700: #374151;
  --color-gray-900: #111827;
}

body {
  @apply bg-gray-50 text-gray-700 font-sans;
}
